In [1]:
import numpy as np

In [2]:
A = {106: 1,
   110: 4,
   111: 5,
   116: 5,
   112: 3,
   118: 3,
   113: 2,
   119: 2,
   109: 1,
   122: 3}

In [6]:
A = np.delete(A, 0, 0)

In [8]:
A= np.delete(A, 0, 0)

In [3]:
A

{106: 1,
 110: 4,
 111: 5,
 116: 5,
 112: 3,
 118: 3,
 113: 2,
 119: 2,
 109: 1,
 122: 3}

In [8]:
B = []
for key in A.keys():
    if A[key]>1:
        B.append(key)
        print(A[key])

4
5
5
3
3
2
2
3

In [9]:
B

[110, 111, 116, 112, 118, 113, 119, 122]

In [11]:
np.ones(4)*-1

array([-1., -1., -1., -1.])

In [12]:
import pandas as pd

In [17]:
df = pd.DataFrame(js)

In [16]:
js = {
    1:[],
    2:[]
}

In [18]:
df

Empty DataFrame
Columns: [1, 2]
Index: []

In [21]:
js

{1: [], 2: [], 3: []}

In [20]:
js[3]=[]